.navbar {
  background: #131921;
  color: white;
  height: 64px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #febd69;
  margin-right: 8px;
}

.nav-link {
  font-size: 14px;
  color: #e5e7eb;
  cursor: pointer;
  white-space: nowrap;
}

.nav-link:hover {
  color: #febd69;
}

/* CENTER SEARCH */
.nav-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-search input {
  width: 520px;
  max-width: 100%;
  padding: 9px 12px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-user {
  font-size: 13px;
  color: #e5e7eb;
  margin-right: 6px;
}
